<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220737207788-qfacuehqtjjhmrbmv0bhg9pdkdl4dup7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220737207788-qfacuehqtjjhmrbmv0bhg9pdkdl4dup7</string>
	<key>API_KEY</key>
	<string>AIzaSyC_ocQ59zKnKrfRSbZfnPpXRjwdRn2sQ2A</string>
	<key>GCM_SENDER_ID</key>
	<string>220737207788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobileZiswaf</string>
	<key>PROJECT_ID</key>
	<string>ziswaf-70af5</string>
	<key>STORAGE_BUCKET</key>
	<string>ziswaf-70af5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220737207788:ios:6bb8e89fd56c553f1794c9</string>
</dict>
</plist>